.home-header-feature-cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; /* full screen height */
  position: relative;
  overflow: hidden;
  background-color: #7e7e7e;
}

.home-header-feature-cards {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 400px;
}


.home-header-feature-card {
  width: 337px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: absolute;
  background-color: #fff;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.home-header-card-0 {
  margin-right: 50px;
  margin-top: -7px;
}

.home-header-card-1 {
  margin-top: 180px;
  margin-right: 200px;
}

.home-header-card-2 {
  margin-left: 200px;
  margin-top: 180px;
}

.home-header-feature-card.active {
  transform: scale(1.05);
  z-index: 3;
}

.home-header-feature-card:nth-child(1):not(.active) {
  z-index: 2;
}

.home-header-feature-card:nth-child(2):not(.active) {
  z-index: 1;
}

.home-header-card-icon {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #f1c232;
  width: 39px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 23px;
  background-color: #f9f3e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header-card-content {
  padding-bottom: 20px;
}

.home-header-card-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.home-header-card-description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #7e7e7e;
  margin-bottom: 20px;
  padding-bottom: 20px;

}
